//============================================
// Navigation
//============================================

.nav
  border-bottom: .1rem solid $gray

.nav_item
  font-size: smaller
  color: $gray-dark
  +mq($bp-xs)
    letter-spacing: .1rem

.nav_item-current
  border-bottom: 2px solid $color-text
  color: $color-text