<nav id="lectures" class="nav u-padd-top-half">
  <ul class="list-reset u-push-btm-none">
    <li class="u-ibl u-tt-caps u-fw-bold u-push-rgt-half u-push-rgt@sm u-padd-btm-half nav_item {% if page.url == '/' %}nav_item-current{% endif %}">
      <a href="/#lectures">Lectures</a>
    </li>
    <li class="u-ibl u-tt-caps u-fw-bold u-push-rgt-half u-push-rgt@sm u-padd-btm-half nav_item {% if page.url == '/policies-and-information/' %}nav_item-current{% endif %}">
      <a href="{{ site.github.url }}/policies-and-information">Policies & Info</a>
    </li>
    <li class="u-ibl u-tt-caps u-fw-bold u-padd-btm-half nav_item {% if page.url == '/contact/' %}nav_item-current{% endif %}">
      <a href="{{ site.github.url }}/contact">Contact</a>
    </li>
  </ul>
</nav>